<div class="page-header col-sm-12 text-center" data-ng-init="getSharedViews()" style="margin-top: 20px">
	<div class="col-lg-12 text-center m-t-md " style="-webkit-animation: 0.2s;">
    <h2>
        Views Shared with Me
    </h2>

    <p>
        See what views other users have shared with you and add them to your Workspace for further analysis and collaboration.
    </p>
</div>
	<form class="form-inline">
	  <div class="form-group col-sm-6 col-sm-offset-3">
	    <label for="viewSearch">Search Views</label>
	    <input class="form-control" id="viewSearch" placeholder="Enter view name..." data-ng-model="viewSearch">
	  </div>

	</form>
</div>
<div class="col-sm-12" >
    <div class="panel panel-default" style="width: 300px; height: 375px; margin: 20px 10px; float: left;" data-ng-repeat="view in sharedViews | filter:viewSearch" >
        <div class="panel-heading" style="padding: 2px 10px">
            <h4>{{view.title}}</h4>
        </div>
        <div class="panel-body" style="padding-top: 5px">
            <h5><span style="font-weight: bold; padding-top: 0px">Shared by: </span>{{view.createdByUsername}}</h5>
            <img class="img-responsive" src="http://placehold.it/700x300" alt=""><br>
            <h5><span style="font-weight: bold">Graph: </span>{{view.graphName}}</h5>
            <h5> <span style="font-weight: bold">Layout: </span>{{view.graphLayout}}</h5>
            <div style="height: 40px; overflow-y: auto; overflow-x: hidden">
                {{view.summary}}
            </div>
            <div class="col-sm-12" style="padding: 10px 0px">
                <div class="col-sm-4" style="padding: 0px">
                    <button class="btn btn-default btn-sm" ng-click="addToWorkspace('sharedView', $index)" ng-disabled="view.inWorkspace">
                        <span class="glyphicon glyphicon-plus" ng-if="!view.inWorkspace"></span> 
                        <span class="glyphicon glyphicon-ok" ng-if="view.inWorkspace"></span>&nbsp;Workspace
                        </button>
                    </div>
                <div class="col-sm-8; text-right" style="padding-right: 0px;">
                    <h5><small>{{view.createdOn | date:'medium'}}</small></h5>
                    
                </div>
            </div>
        </div>
    </div>
</div>
