<!-- 
 *
 * Sarah Talty <sltalty@ufl.edu>
 *
 * Based on earlier code:
 * Kartik Chivukula <https://github.com/kartikgc/>
 *
 * University of Florida
 *
-->

<div id="maincontent"  ng-controller="mainController">
    <div class="navbar navbar-fixed-top navbar-inverse" style="margin-bottom: 0px !important; padding-bottom: 0px" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="#">BioVerto</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Upload File<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="fileUpload('csv')">Import CSV</a></li>
                        <!--<li><a href="#" ng-click="fileUpload('xls')">Import Excel(XLS)</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Upload From Database<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="databaseDownload('mintPathways')">MINT Pathways</a></li>
                        <li><a href="#" ng-click="databaseDownload('databaseGraphs')">View graphs in database</a></li>

                    </ul>
                </li>
                <li><a href="#" ng-click="fileUpload('blast')">Blast </a></li>
                <li><a href="#" ng-click="fileUpload('microArr')">MicroArray Data</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add View <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">Force Layout View</a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="value in graphList">
                                    <a href="#"ng-click="addView('force', value)">{{value}}</a>
                                </li>
                                <li ng-show="graphList.length == 0"><a>No Graphs Uploaded</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Circular Layout View</a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="value in graphList">
                                    <a href="#"ng-click="addView('circular', value)">{{value}}</a>
                                </li>
                                <li ng-show="graphList.length == 0"><a>No Graphs Uploaded</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Chord Layout View</a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="value in graphList">
                                    <a href="#"ng-click="addView('chord', value)">{{value}}</a>
                                </li>
                                <li ng-show="graphList.length == 0"><a>No Graphs Uploaded</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" ng-click="loginContact(2)">Contact Us</a>
                </li>
                <li>
                    <a href="#" ng-click="loginContact(0)">Create Account</a>
                </li>
                <li>
                    <a href="#" ng-click="loginContact(1)">Login</a>
                </li>
            </ul>

        </div>
    </div>
</div>

        <div class="collapse navbar-collapse center-block">
            <div >
                <div ng-repeat="(index, view) in views" class=" btn btn-sm-nopad" >
                    <h4  href="#" ng-click="changeView(view.indx)"><span ng-class="{'label label-primary': (active === view.indx), 'label label-default': (active !== view.indx)} " >{{view.title}} - {{view.layout}}<span href="#" ng-click="removeView(view.indx)" class="glyphicon glyphicon-remove-circle" style="padding-left: 5;" ></span></span></h4>
                </div>

            </div>
        </div>
        <div  ng-repeat=" view in views |sortViews:active" style="position:absolute">
            <panel activeindex=active layout = view.layout index =view.indx heading=view.title state=view.state graph-name=view.graphName rootfn= "panelFn(fntype,args)" href="#"></panel>
        </div>
        <div ng-show="views.length==0" style="height:calc(100% - 30px);">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" style="height:calc(100% - 30px);">
                    <div class="item active " style="background: #16a085;height: 100%">
                        <img class="center-block"src="http://placehold.it/1200x500/16a085/ffffff&text=Import Graphs">
                        <div class="carousel-caption ">
                            <h3>Add Graphs to Bioverto</h3>
                            <p>
                                Upload graphs from Database or Upload your graph file(CSV and Excel are currently supported)</p>
                        </div>
                    </div>
                    <div class="item" style="background:  #e67e22;height:100%;">
                        <img class="center-block" src="http://placehold.it/1200x500/e67e22/ffffff&text=Add View">
                        <div class="carousel-caption">
                            <h3>View Graphs</h3>
                            <p>
                                After you add graphs to Bioverto , click on Add View above to view graph in different Layout</p>
                        </div>
                    </div>
                    <div class="item" style="background: #2980b9;height:100%;">
                        <img class="center-block" src="http://placehold.it/1200x500/2980b9/ffffff&text=Feedback">
                        <div class="carousel-caption">
                            <h3>Use the Feedback button below</h3>
                            <p>
                                This Site is in its early stage.Please report bugs and provide feedback. Your feedback is crucial for us.</p>
                        </div>
                    </div>
                    <div class="item" style="background: #8e44ad;height:100% ;">
                        <img class="center-block" src="http://placehold.it/1200x500/8e44ad/ffffff&text=Videos">
                        <div class="carousel-caption">
                            <h3>
                                Video Tutorial</h3>
                            <p>
                                Coming Soon...</p>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-pills nav-justified">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">Add Graphs</a></li>
                    <li data-target="#myCarousel" data-slide-to="1"><a href="#">View Graphs</a></li>
                    <li data-target="#myCarousel" data-slide-to="2"><a href="#">Feedback</a></li>
                    <li data-target="#myCarousel" data-slide-to="3"><a href="#">Videos</a></li>
                </ul>
            </div>
        </div>

    </div> 