<!-- 
 *
 * Sarah Talty <sltalty@ufl.edu>
 *
 * Based on earlier code:
 * Kartik Chivukula <https://github.com/kartikgc/>
 *
 * University of Florida
 *
-->


    <div class="modal-body">
        <h3>Save View</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th class="col-sm-3">View Title</th>
                    <td>
                        <div class="col-sm-8" style="padding-left: 0px">
                            <input type="text" ng-model="formData.title" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-3">Graph Name</th>
                    <td>{{view.graphName}}</td>
                </tr>
                <tr>
                    <th class="col-sm-3">Graph Layout</th>
                    <td>{{view.layout}}</td>
                </tr>
                <tr>
                    <th class="col-sm-3">Summary</th>
                    <td>
                        <div class="col-sm-8" style="padding-left: 0px">
                            <textarea class="form-control" rows="3" ng-model="formData.summary"></textarea>
                        </div>
                       
                    </td>
               
                </tr>
            </tbody>
        </table>
        <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
        